/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --text-color: #333;
  --special-heading-color: #ebeced;
  --special-heading-paragraph-color: #797979;
  --bg-color: #f6f6f6;
  --section-padding: 60px;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  color: var(--text-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  header nav details ul {
    right: 24vw;
    top: 8vh;
  }
}

/* Extra Large Screen */
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
  header nav details ul {
    right: 15vw;
    top: 8vh;
  }
}

/* Extra Extra Large Screen */
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

/* End Global Rules */

/* Start Header */
header {
  padding: 20px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
}

header nav details summary {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

header nav details ul::before {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--bg-color) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

header nav details ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  position: absolute;
  display: none;
  right: 8.9vw;
  top: 8vh;
  width: 1var (--section-padding);
  z-index: 10;
}

header nav details[open] ul {
  display: block;
}

header nav details ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: 0.3s;
}

header nav details ul li a:hover {
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  padding-left: 25px;
}

header nav details ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start Landing */
.landing {
  position: relative;
  background-image: url("../images/background-img.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing .intro-text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 750px;
  margin-top: -190px;
}

.landing .intro-text h1 {
  margin: 0 0 20px 0;
  font-weight: 900;
  font-size: 3rem;
  color: var(--main-color);
}

.landing .intro-text p {
  font-size: 1.25rem;
  line-height: 1.8;
  text-align: left;
}
/* End Landing */

/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.features .feat {
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.features .feat:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.features .feat i {
  color: var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.features .feat h3 {
  font-weight: 800;
  margin: 20px 0;
  font-size: 1.5rem;
  text-align: left;
}

.features .feat p {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  text-align: left;
}
/* End Features */

/* Special Heading */
.special-heading {
  margin: 0;
  letter-spacing: -3px;
  font-weight: 800;
  text-align: center;
  font-size: 100px;
  color: var(--special-heading-color);
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: var(--special-heading-paragraph-color);
}

@media (max-width: 768px) {
  .special-heading {
    font-size: var(--section-padding);
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Special Heading */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "srv1 srv2 img" "srv3 srv4 img";
  grid-gap: 40px;
  max-width: 1400px;
  width: 100%;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .services .services-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "srv1 srv2" "srv3 srv4" "img img";
  }
}

@media (max-width: 768px) {
  .services .services-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "srv1"
      "srv2"
      "srv3"
      "srv4"
      "img";
    grid-gap: 20px;
  }

  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .services .services-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
  }
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}

.services .services-content .srv1 {
  grid-area: srv1;
}

.services .services-content .srv2 {
  grid-area: srv2;
}

.services .services-content .srv3 {
  grid-area: srv3;
}

.services .services-content .srv4 {
  grid-area: srv4;
}

.services .services-content .col {
  grid-area: img;
}

.services .services-content .srv i {
  color: var(--main-color);
  font-size: 2.5rem;
  margin-right: 20px;
  flex-basis: var(--section-padding);
}

.services .services-content .srv text {
  flex: 1;
}

.services .services-content .srv h3 {
  margin: 0 0 20px;
}

.services .services-content .srv p {
  font-weight: 300;
  line-height: 1.8;
  color: var(--text-color);
}

.services .services-content .col .image {
  text-align: center;
  position: relative;
}

.services .services-content .col .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 80px);
  position: absolute;
  top: -40px;
  right: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .services .services-content .col .image::before {
    display: none;
  }
}

.services .services-content .col .image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
/* End Services */

/* Start Destinations */
#destinations {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--bg-color);
}

#destinations .destinations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}

#destinations .destinations-content .card {
  background-color: white;
}

#destinations .destinations-content .card img {
  background-color: white;
  max-width: 100%;
}

#destinations .destinations-content .card .info {
  padding: 20px;
}

#destinations .destinations-content .card .info h3 {
  margin: 0;
}

#destinations .destinations-content .card .info p {
  color: var(--text-color);
  line-height: 1.8;
}
/* End Destinations */

/* Start About Section */
#about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}

#about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  #about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

#about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width: 991px) {
  #about .about-content .image {
    margin: 0 auto 60px;
  }
}

#about .about-content .image img {
  max-width: 100%;
}

#about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

#about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 77px solid var(--main-color);
  right: -150px;
  top: -40px;
  z-index: -1;
}

@media (max-width: 991px) {
  #about .about-content .image::after,
  #about .about-content .image::before {
    display: none;
  }
}

#about .about-content .text {
  flex-basis: calc(100% - 500px);
}

#about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

#about .about-content .text p:last-of-type {
  line-height: 2;
  color: var(--text-color);
}

#about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
/* End About Section */

/* Start Contact Section */
#contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--bg-color);
}

#contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

#contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

#contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

#contact .info .social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}

#contact .info .social-media i {
  margin-left: 10px;
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  #contact .info .link,
  #contact .info .label {
    font-size: 25px;
  }
}
/* End Contact Section */

/* Start Footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
