/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
}

header .links {
  position: relative;
}

header nav details summary {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

header nav details ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  position: absolute;
  display: none;
  right: 24vw;
  top: 8vh;
  width: 150px;
}

header nav details[open] ul {
  display: block;
}

header nav details ul li a {
  text-decoration: none;
}
/* End Header */
